[workspace]
members = ["cli", "artemis-core", "server", "webui", "common"]
resolver = "2"

[profile.release]
strip = true

[workspace.package]
version = "0.6.2"
homepage = "https://puffycid.github.io/artemis-api"
repository = "https://github.com/puffycid/artemis"
license = "MIT"
edition = "2021"

[workspace.dependencies]
serde = { version = "1.0.193", features = ["derive"] }
log = "0.4.20"
serde_json = "1.0.108"
toml = "0.8.8"
base64 = "0.21.5"
tokio = { version = "1.35.1", features = ["full"] }
flate2 = "1.0.28"
glob = "0.3.1"
reqwest = { version = "0.11.23", features = ["json", "blocking"] }
sysinfo = "0.30.1"
uuid = { version = "1.6.1", features = ["v4"] }
