[workspace]
members = ["cli", "core", "common", "client", "apollo/src-tauri", "timeline"]
resolver = "2"

[profile.release]
strip = true

[profile.release-action]
inherits = "release"
strip = true
lto = true
codegen-units = 1

[workspace.package]
version = "0.12.0"
homepage = "https://puffycid.github.io/artemis-api"
repository = "https://github.com/puffycid/artemis"
license = "MIT"
edition = "2021"

[workspace.dependencies]
serde = { version = "1.0.215", features = ["derive"] }
log = "0.4.22"
serde_json = "1.0.133"
toml = "0.8.19"
base64 = "0.22.1"
tokio = { version = "1.41.1", features = ["full"] }
flate2 = { version = "1.0.35", features = ["any_zlib", "zlib-ng"] }
glob = "0.3.1"
reqwest = { version = "0.12.9", features = [
    "json",
    "blocking",
    "native-tls-vendored",
] }
sysinfo = "0.33.0"
uuid = { version = "1.11.0", features = ["v4"] }
rusqlite = { version = "0.32.1", features = ["bundled", "serde_json"] }
