[package]
name = "artemis-core"
version = "0.4.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.188", features = ["derive"] }
log = "0.4.20"
serde_json = "1.0.105"
toml = "0.7.7"
base64 = "0.21.3"
nom = "7.1.3"
rusqlite = { version = "0.29.0", features = ["bundled"] }
md-5 = "0.10.5"
sha-1 = "0.10.1"
sha2 = "0.10.7"
regex = "1.9.5"
byteorder = "1.4.3"
walkdir = "2.4.0"
sysinfo = "0.29.10"
home = "0.5.5"
uuid = { version = "1.4.1", features = ["v4"] }
chrono = "0.4.30"
flate2 = "1.0.27"
simplelog = "0.12.1"
zip = { version = "0.6.6", default-features = false }
reqwest = { version = "0.11.20", features = ["json", "blocking"] }
jsonwebtoken = "8.3.0"
rusty-s3 = "0.4.1"
glob = "0.3.1"
quick-xml = { version = "0.30.0", default-features = false}
xml2json-rs = "1.0.1"

# Deno Runtime integration
deno_core = { version = "0.209.0" }
tokio = { version = "1.32.0" }

# Windows Dependencies
[target.'cfg(target_family = "windows")'.dependencies]
ntapi = "0.4.1"
evtx = { version = "0.8.1", default-features = false, features = [
    "multithreading",
] }
ntfs = "0.4.0"
pelite = "0.10.0"

# Linux Dependencies
[target.'cfg(target_os = "linux")'.dependencies]
elf = "0.7.2"
ruzstd = "0.4.0"
lz4_flex = "0.11.1"
xz2 = { version = "0.1.7", default-features = false, features = ["static"] }

# macOS Dependencies
[target.'cfg(target_os = "macos")'.dependencies]
macos-unifiedlogs = { git = "https://github.com/mandiant/macos-UnifiedLogs", rev = "06c6a94be890442928df65ab37e834d2723c9e3d" }
plist = "1.5.0"

# Dependencies at compile time
[build-dependencies]
deno_core = { version = "0.209.0" }

# Dependencies for tests
[dev-dependencies]
httpmock = "0.6.8"
criterion = "0.5.1"

# Some benchmarking
[[bench]]
name = "macho_benchmark"
harness = false