[package]
name = "artemis-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = {version="1.0.164", features = ["derive"]}
log = "0.4.19"
serde_json = "1.0.99"
toml = "0.7.5"
base64 = "0.21.2"
nom = "7.1.3"
rusqlite = {version = "0.29.0", features = ["bundled"]}
md-5 = "0.10.5"
sha-1 = "0.10.0"
sha2 = "0.10.7"
regex = "1.8.4"
byteorder = "1.4.3"
walkdir = "2.3.3"
sysinfo = "0.29.3"
home = "0.5.5"
uuid = {version = "1.4.0", features = ["v4"]}
chrono = "0.4.26"
flate2 = "1.0.26"
simplelog = "0.12.1"
zip = { version = "0.6.6", default-features = false }
reqwest = {version = "0.11.18", features = ["json", "blocking"]}
jsonwebtoken = "8.3.0"
rusty-s3 = "0.4.1"

# Deno Runtime integration
deno_core = {version = "0.195.0"}
tokio = {version = "1.29.1"}

# Windows Dependencies
[target.'cfg(target_family = "windows")'.dependencies]
ntapi = "0.4.1"
evtx = { version = "0.8.1", default-features = false, features = ["multithreading"]}
ntfs = "0.4.0"
pelite = "0.10.0"

# Linux Dependencies
[target.'cfg(target_os = "linux")'.dependencies]
elf = "0.7.2"
ruzstd = "0.4.0"
lz4_flex = "0.11.1"
xz2 = {version = "0.1.7", default-features = false, features = ["static"]}

# macOS Dependencies
[target.'cfg(target_os = "macos")'.dependencies]
macos-unifiedlogs = { git = "https://github.com/mandiant/macos-UnifiedLogs", rev= "f79a3c8905ea35091a7af8cbc303e2d22286cd4e" }
plist = "1.4.3"

# Dependencies at compile time
[build-dependencies]
deno_core = {version = "0.195.0"}

# Dependencies for tests
[dev-dependencies]
httpmock = "0.6.7"