name: SCC Line Count
on:
  push:
    paths:
      - "**/*.rs"
jobs:
  scc_job:
    runs-on: ubuntu-latest
    name: Count lines of Rust code (includes tests)
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Get the lines of code.
        id: scc
        uses: Adapt-API/scc-docker-action@master
        with:
          args: ${{ env.workspace }} -i rs --by-file -s complexity
      - name: Echo scc output
        run: |
          echo
          echo -n "${{ steps.scc.outputs.scc }}"
          echo -n "${{ fromJson(steps.scc.outputs.scc)[0].Code }}"
